@import url(https://fonts.googleapis.com/css?family=Pacifico);
html * {
  font-family: "Helvetica";
  margin: 0px;
  padding: 0px;
}
body, html, .container, #myApp {
  height: 100%;
}
#chatContainer {
  height: 100%;
  max-width: 700px;
  margin: auto;
}
.MessageList {
  height: calc(100% - 35px);
  width: 100%;
  overflow-y: scroll;
}
#messages {
  min-height: 100%;
  display: flex;
  flex-direction: column-reverse;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.241);
  background-color: rgba(255, 255, 255, 0.141);
}
.star, .starPlaceholder {
  width: 20px;
  margin-left: 7px;
  color: #000;
  line-height: 1.1em;
}
.starPlaceholder {
  opacity: .0;
}
.star::before {
  content: "★";
  align-content: center;
  width: 0px;
  float: left;
  font-size: 1.8em;
  line-height: .9em;
  margin: 0px;
  padding: 0px;
  color: #f39c12;
  text-shadow: 1px 1px rgb(170, 200, 20);
}
.commentInfo {
  padding-left: 10px;
  display: inline-block;
  width: 150px;
  border-style: bold;
}
.commentInfo * {
  overflow-x: hidden;
}
.commentInfo::after {
  content: ": ";
  opacity: 0.3;
  float: right;
  right: 0;
  padding-right: 10px;
}
.commentBody {}
body {
  text-align: center;
  padding: 2px;
  margin: 0px auto;
  background-color: #F3ECE2;
}
ul {
  text-align: left;
  list-style-type: none;
  /*overflow-y: scroll;*/
}
li {
  background-color: rgba(120, 150, 130, 0.05);
  padding: 2px 5px;
  margin: 2px 2px;
  border-bottom: solid 1px #c7d7ee;
  border-radius: 4px;
}
#form {
  width: 100%;
}
#desiredName {
  width: 90px;
  border-radius: 4px 0px 0px 4px;
}
#userMessage {
  width: calc( 100% - 90px);
  border-radius: 0px 4px 4px 0px;
}
input[type="text"] {
  background-color: rgba(160, 160, 140, 0.03);
  padding: 4px;
  border: solid 1px #fff;
  transition: box-shadow 0.3s;
}
box-shadow: inset 1px 1px 2px 0 #c9c9c9;
input[type="text"]:focus, input[type="text"].focus {
  box-shadow: inset 1px 1px 2px 0 #707070;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline
}
#title {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #F3ECE2;
  padding: 10px;
}
#title h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: italic;
  font-size-adjust: none;
  font-language-override: normal;
  font-kerning: auto;
  font-feature-settings: "kern", "liga", "dlig", "hlig", "cswh";
  font-synthesis: weight style;
  font-size: 2.8em;
  /*line-height: 1.2;*/
}
#Courses {
  position: absolute;
  left: 0px;
  top: 80px;
  background-color: #F3ECE2;
}

/*#Courses h3 {
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  padding: 3px;
  margin: 3px;
  font-size: 1em;
}*/

.CourseButton {
  position: relative;
  /*vertical-align: top;*/
  width: 100%;
  height: 40px;
  padding: 0;
  color: white !important;
  text-align: center;
  /*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);*/
  background: #f39c12;
  border: 0;
  border-bottom: 4px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
  padding: 7px;
  margin-top: 7px;
}
.CourseButton a, h3 {
  font-size: 17px;
  color: white !important;
}
.CourseButton:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media only screen and (min-width: 800px) {
  #title h1 {
    font-size: 5em;
  }
  .CourseButton {
    height: 60px;
     padding: 15px;
    margin-top: 15px;
  }
  .CourseButton a, h3 {
    font-size: 22px;
  }
  #Courses {
    top: 140px;
  }
}
